# 列表分片的进阶玩法

In [1]:
list1 = [1,2,3,4,5,6,7,8,9]
list1[0:9:2]

[1, 3, 5, 7, 9]

In [2]:
print(list1[0:9:2])

[1, 3, 5, 7, 9]

In [4]:
print(list1[::2])

[1, 3, 5, 7, 9]

In [5]:
print(list1[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# 一些常用操作符

In [6]:
list1 = [123]
list2 = [234]
list1 > list2

False

In [7]:
list3 = ['abc']
list4 = ['bcd']
list3 < list4

True

In [8]:
list1 = [123,456]
list2 = [234,123]
list1 > list2

False

In [9]:
list1 = [123,456]
list2 = [234,123]
list3 = list1 + list2
print(list3)

[123, 456, 234, 123]

In [10]:
list1 = [123]
list1 * 3

[123, 123, 123]

In [11]:
list1 *= 5
print(list1)

[123, 123, 123, 123, 123]

In [13]:
list1 = ['小猪','小猫','小狗','小甲鱼']
print('小甲鱼'in list1)

True

In [14]:
print('小护士'not in list1)

True

In [15]:
list1 = ['小猪','小猫',['小甲鱼','小护士'],'小狗']
print('小甲鱼'in list1)

False

In [16]:
print('小护士'not in list1)

True

In [17]:
print('小甲鱼'in list1[2])

True

In [18]:
print('小护士'not in list1[2])

False

In [20]:
list1[2][0]

'小甲鱼'

In [22]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [23]:
list1 = [1,1,2,3,5,8,13,21]
list1.count(1)

2

In [24]:
print(list1.index(1))

0

In [25]:
start = list1.index(1) + 1
stop = len(list1)
list1.index(1,start,stop)

1

In [26]:
list1 = [1,2,3,4,5,6,7,8]
list1.reverse()
print(list1)

[8, 7, 6, 5, 4, 3, 2, 1]

In [28]:
list1 = [5,6,4,7,3,9,2,1,8,0]
list1.sort()
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
list1 = [5,6,4,7,3,9,2,1,8,0]
list1.sort(reverse=True)
print(list1)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# 关于分片“拷贝”概念的补充

In [30]:
list1 = [1,3,2,9,7,8]
list2 = list1[:]
list2

[1, 3, 2, 9, 7, 8]

In [31]:
list3 = list1
list3

[1, 3, 2, 9, 7, 8]

In [33]:
list1.sort()
list1

[1, 2, 3, 7, 8, 9]

In [35]:
print(list2)
print(list3)

[1, 3, 2, 9, 7, 8]
[1, 2, 3, 7, 8, 9]

# 创建和访问一个元组

In [36]:
tuple = (1,2,3,4,5,6,7,8)
tuple[1]

2

In [37]:
tuple[5:]

(6, 7, 8)

In [38]:
tuple[:5]

(1, 2, 3, 4, 5)

In [40]:
tuple2 = tuple[:]
tuple2

(1, 2, 3, 4, 5, 6, 7, 8)

In [41]:
tuple[1] = 1

TypeError: 'tuple' object does not support item assignment

In [42]:
temp = (1)
type(temp)

int

In [43]:
temp = 1,2,3
type(temp)

tuple

In [44]:
temp =()
type(temp)

tuple

In [49]:
temp1 = (1)
type(temp1)

int

In [50]:
temp2 = (1,)
type(temp2)

tuple

In [51]:
temp3 = 1,
type(temp3)

tuple

In [52]:
8 * (8)

64

In [53]:
8 *(8,)

(8, 8, 8, 8, 8, 8, 8, 8)

# 更新和删除元组

In [54]:
temp = ('小鸡','小鸭','小猪')
temp = temp[:2] + ('小甲鱼',) + temp[2:]
print(temp)

('小鸡', '小鸭', '小甲鱼', '小猪')

In [55]:
temp = temp[:2] + temp[3:]
temp

('小鸡', '小鸭', '小猪')

In [56]:
del temp
temp

NameError: name 'temp' is not defined

# 字符串

In [1]:
str1 = 'I love fishc.com!'
str1[:6]

'I love'

In [2]:
str1[5]

'e'

In [3]:
str1[:6] + '插入的字符串' + str1[6:]

'I love插入的字符串 fishc.com!'

# 常用的字符串内置方法

In [5]:
str1 = 'FishC'
str1.casefold()#将字符串全部全部变成小写#

'fishc'

In [7]:
strl = 'AbcABCabCabcABCabc'
strl.count('ab',0,15)

2

In [1]:
strl = 'AbcABCabCabcABCabc'
strl.count('ab')

3

In [2]:
strl = 'I love fishc.com'
strl.find('fishc')

7

In [3]:
strl.find('good')

-1

In [4]:
strl.index('fishc')

7

In [5]:
strl.index('good')#抛出异常，因为不存在‘good’字符串

ValueError: substring not found

In [6]:
'x'.join('Test')

'Txexsxt'

In [7]:
'_'.join('FishC')

'F_i_s_h_C'

In [8]:
'I' + ' ' + 'love' + ' ' + 'MissWang'

'I love MissWang'

In [10]:
' '.join(['I','love','MissWang'])#加号连接会引起内存复制以及垃圾回收操作，所以对于大量的字符串拼接来说，使用
                                 #join（）方法的效率要高一些

'I love MissWang'

In [19]:
strl = 'I love you'#replace（old，new[,count]）方法替换指定的字符串
strl.replace('you','MissWang')

'I love MissWang'

In [20]:
strl = ' '.join(['I','love','MissWang'])
strl

'I love MissWang'

In [21]:
strl.split()#split(sep=None,maxsplit=-1)跟join()正好相反，split()用于拆分字符串

['I', 'love', 'MissWang']

In [22]:
str2 = '_'.join('FishC')
str2.split(sep='_')

['F', 'i', 's', 'h', 'C']

# 格式化

## 1.format()

In [23]:
'{0} love {1}.{2}'.format('I','FishC','com')

'I love FishC.com'

In [24]:
'{a} love {b}.{c}'.format(a='I',b='FishC',c='com')

'I love FishC.com'

In [25]:
'{0} love {b}{c}'.format('I',b='Wang',c='chunmei')

'I love Wangchunmei'

In [26]:
'{a} love {b}.{0}'.format(a='I',b='FishC','com')

SyntaxError: positional argument follows keyword argument (<ipython-input-26-edbe730fa178>, line 1)

In [27]:
'{{0}}'.format('不打印')

'{0}'

In [29]:
'{0}:{1:.2f}'.format('圆周率',3.14159)

'圆周率:3.14'

## 2.格式化操作符：%

In [30]:
'%c'%97

'a'

In [32]:
'%c%c%c%c%c'%(70,105,115,104,67)

'FishC'

In [33]:
'%d转换为八进制是:%o'%(123,123)

'123转换为八进制是:173'

In [34]:
'%f用科学计数法表示为：%e'%(149500000,149500000)

'149500000.000000用科学计数法表示为：1.495000e+08'

In [36]:
'%5.1f'%27.658

' 27.7'

In [37]:
'%.2e'%27.658

'2.77e+01'

In [38]:
'%10d'%5

'         5'

In [40]:
'%-10d'%5#-表示结果左对齐

'5         '

In [41]:
'%010d'%5#符号0表示显示的数字前面填充‘0’代替空格

'0000000005'

In [44]:
'%#X'%101  #在八进制数前面显示‘0o’,在十六进制数前面显示‘0x’或者‘0X’

'0X65'

# 序列

## 1.list

In [45]:
#c创建一个空列表
a = list()
a

[]

In [46]:
#将字符串的每个字符迭代存放到列表中
b = list('FishC')
b

['F', 'i', 's', 'h', 'C']

In [48]:
#将元组中的每个元素迭代存放到列表中
c = list((1,1,2,1,3,5,19))
c

[1, 1, 2, 1, 3, 5, 19]

## 2.tuple

## 3.str

## 4.len

In [49]:
str1 = 'I love fishc.com'
len(str1)

16

In [51]:
list1 = [1,1,2,3,5,8,19]
len(list1)

7

In [52]:
tuple1 = '这','是','一','个','元组'
len(tuple1)

5

## 5.max（）

In [55]:
list1 = [1,18,13,0,-98,34,54,76,32]
max(list1)

76

In [56]:
str1 = 'I love fishc.com'
max(str1)

'v'

In [59]:
max(5,8,1,13,5,29,10,7)

29

## 6.min(）

In [58]:
list1 = [1,18,13,0,-98,34,54,76,32]
list1.append('x')
min(list1)

TypeError: '<' not supported between instances of 'str' and 'int'

## 7.sum(iterable[,start])

In [60]:
tuple1 = 1,2,3,4,5
sum(tuple1)

15

In [61]:
sum(tuple1,10)

25

## 8.sorted(iterable,key=None,reverse=False)

In [62]:
list1 = [1,18,13,0,-98,34,54,76,32]
list2 = list1[:]
list1.sort()
list1

[-98, 0, 1, 13, 18, 32, 34, 54, 76]

In [63]:
sorted(list2)   #sort（）方法实现列表原地排序；而sorted（）是返回一个排序的新列表

[-98, 0, 1, 13, 18, 32, 34, 54, 76]

In [64]:
list2

[1, 18, 13, 0, -98, 34, 54, 76, 32]

## 9.reversed（sequence）

In [66]:
list1 = [1,18,13,0,-98,34,54,766,32]
reversed(list1)

In [69]:
for each in reversed(list1):
    print(each,end=',')

32,766,54,34,-98,0,13,18,1,

## 10.enumerate(iterable)

In [71]:
str1 = 'FishC'
for each in enumerate(str1):
    print(each)

(0, 'F')
(1, 'i')
(2, 's')
(3, 'h')
(4, 'C')

## 11.zip(iter1 [,iter2[...])

In [72]:
list1 = [1,3,5,7,9]
str1 = 'FishC'
for each in zip(list1,str1):
    print(each)

(1, 'F')
(3, 'i')
(5, 's')
(7, 'h')
(9, 'C')

In [73]:
tuple1 = (2,4,6,8,10)
for each in zip(list1,str1,tuple1):
    print(each)

(1, 'F', 2)
(3, 'i', 4)
(5, 's', 6)
(7, 'h', 8)
(9, 'C', 10)